<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="{{ path('accueil') }}">
                    <i class="fa fa-dashboard"></i>
                        <span>
                            Accueil
                        </span>
                </a>
            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="javascript:;">
                    <i class="fa fa-laptop"></i>
                        <span>
                            C.V
                        </span>
                    <span class="dcjq-icon"></span>
                </a>
        <ul class="sub" style="display: none;"></ul>
            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="javascript:;">
                    <i class="fa fa-book"></i>
                        <span>
                            Stage
                        </span>
                    <span class="dcjq-icon"></span>
                </a>
        <ul class="sub" style="display: none;"></ul>
            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                        <span>
                            TP&PPE
                        </span>
                    <span class="dcjq-icon"></span>
                </a>
        <ul class="sub" style="display: none;"></ul>
            </li>
            <li>
                <a class="active" href="{{ path('contact_new') }}">
                    <i class="fa fa-dashboard"></i>
                        <span>
                            contact
                        </span>
                </a>
            </li>
        <ul class="sub">
            <li><a  href="javascript:;">Menu Item 1</a></li>
            <li class="sub-menu">
                <a  href="boxed_page.html">Menu Item 2</a>
        <ul class="sub">
            <li><a  href="javascript:;">Menu Item 2.1</a></li>
            <li class="sub-menu">
                <a  href="javascript:;">Menu Item 3</a>
        <ul class="sub">
            <li><a  href="javascript:;">Menu Item 3.1</a></li>
            <li><a  href="javascript:;">Menu Item 3.2</a></li>
        </ul>
            </li>
        </ul>
            </li>
        </ul>
            
                  <!--multi level menu end-->
              </ul>
              <!-- sidebar menu end-->{# empty Twig template #}
    </div>
</aside>